<button type="button" class="btn btn-default action"
  ng-disable="state !== 'default'"
  ng-click="save(postForm, 'draft')" ng-class="{'block': (state !== 'default' )}">

  <i class="fa fa-floppy-o"></i>
  <i class="fa fa-refresh fa-spin spin" ></i>
  <span>Rascunho</span>

</button>
<button type="button" class="btn btn-success action"
  ng-disable="state !== 'default'"
  ng-click="save(postForm, 'publish')" ng-class="{'block': (state !== 'default' )}">

  <i class="fa fa-floppy-o"></i>
  <i class="fa fa-refresh fa-spin spin" ></i>
  <span>Publicar</span>

</button>
