<div layout="row"
  layout-align="center center"
  ng-repeat="field in fields"
  ng-if="field.type.view !== 'cover'">
  <md-input-container
    class="md-block"
    flex-gt-xs
    dynamic-field="field"
    >
    <label>
      {{ field.title }}
    </label>

    <md-datepicker
      ng-model="entity[field.name]"
      name="{{ field.name }}"
      ng-if="field.type.view === 'date'" >
    </md-datepicker>

    <input
      name="{{ field.name }}"
      ng-model="entity[field.name]"
      md-maxlength="{{ field.limit }}"
      ng-attr-id="{{ field.name }}"
      ng-if="field.type.view === 'text'"
      dynamic-field="field"
      placeholder="{{ field.placeholder }}" />

    <input
      name="{{ field.name }}"
      ng-attr-id="{{ field.name }}"
      ng-model="entity[field.name]"
      placeholder="{{ field.placeholder }}"
      ng-pattern="{{ field.pattern }}"
      ng-if="field.type.view === 'video'"
      dynamic-field="field"
      validate-video />

    <textarea
      name="{{ field.name }}"
      ng-model="entity[field.name]"
      ng-attr-id="{{ field.name }}"
      md-maxlength="{{ field.limit }}"
      placeholder="{{ field.placeholder }}"
      ng-if="field.type.view === 'textarea'"
      dynamic-field="field"
      md-select-on-focus>
    </textarea>

    <md-chips
      name="{{ field.name }}"
      ng-model="entity[field.name]"
      md-transform-chip="tags.transformChip($chip)"
      md-autocomplete-snap
      ng-if="field.type.view === 'tagging'">
      <md-autocomplete
        md-selected-item=""
        md-items="item in tags.search(queryText)"
        md-search-text="queryText"
        md-item-text="item.tag">
        <span>{{ item.tag }}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <strong>{{$chip.tag}}</strong>
        </span>
      </md-chip-template>
    </md-chips>

    <md-select
      ng-attr-id="{{ field.name }}"
      ng-if="field.type.view === 'select'"
      dynamic-field="field"
      ng-model="entity[field.name]">
      <md-option
        ng-repeat="item in field.type.options"
        value="{{ item.id }}">
        {{ item.name }}
      </md-option>
    </md-select>

    <div
      ng-messages="postForm[field.name].$error">
      <div ng-message="required">
        {{ field.title }} é necessário.
      </div>
      <div ng-message="md-maxlength">
        O '{{ field.title }} tem que ser menor que {{ field.limit }}.
      </div>
      <div ng-message="video-url-format">
         Link do vídeo invalido.
      </div>
    </div>

  </md-input-container>
</div>
