  <div class='form-group'
    ng-repeat="field in $parent.fields"
    ng-switch on="field.type.view">
    <label class='control-label' for='{{ field.name }}'
      ng-hide='field.type.view === "cover"'>
      <i class="fa {{ field.icon }}"></i>
      {{ field.title }}
    </label>

      <div class="form-inline datepicker" ng-switch-when="date">
        <div class="form-group">
          <input type="text" size="10" class="form-control"
          ng-model="$parent.entity[field.name]"
           data-date-format="dd/MM/yyyy"
          data-autoclose="1" placeholder="Date" data-max-date='today' bs-datepicker>
        </div>
        <div class="form-group">
          <input type="text" size="8" class="form-control"
          ng-model="$parent.entity[field.name]"
          data-autoclose="1" placeholder="Time" bs-timepicker>
        </div>
      </div>

      <div ng-switch-when="video" show-errors>
        <input type="text"
        dynamic-name="field.name"
        class="form-control"
        ng-model="$parent.entity[field.name]"
        placeholder="{{ field.placeholder }}"
        ng-pattern="{{ field.pattern }}"
        dynamic-required="field"
        />
        <youtube ng-show="$parent.entity[field.name]" url="{{ $parent.entity[field.name] }}"></youtube>
      </div>

      <div ng-switch-when="textarea" show-errors>
        <textarea type="text"
          dynamic-name="field.name"
          class="form-control"
          ng-model="$parent.entity[field.name]"
          ng-required="{{ field.required }}"
          placeholder="{{ field.placeholder }}"
          rows='1'
          expand>
        </textarea>
      </div>

      <div ng-switch-when="select" show-errors>
        <select
          dynamic-name="field.name"
          ng-model="$parent.entity[field.name]"
          ng-options="item.id as item.name for item in field.type.options"
          dynamic-required="field"
          class="form-control">
          <option value="">-- Nenhum --</option>
        </select>
      </div>
      <div ng-switch-when="tagging" show-errors>
        <tags-input
          ng-model="$parent.entity[field.name]"
          dynamic-name="field.name"
          display-property="tag"
          class='tag-input'
          placeholder="{{ field.placeholder }}">
        </tags-input>
      </div>
  </div>
