<div class="form-group has-feedback"
  ng-repeat="field in fields"
  ng-switch on="field.type.view"
  ng-hide="field.type.view === 'cover'">
  <label class='control-label'
    for='{{ field.name }}'
    dynamic-field='field'>
    <i class="fa {{ field.icon }}"></i>
    {{ field.title }}
  </label>

    <div class="form-inline datepicker" ng-switch-when="date">
      <div class="form-group" dynamic-field="field">
        <input type="text" size="10" class="form-control date"
        ng-model="entity[field.name]"
        data-date-format="dd/MM/yyyy"
        show-errors
        data-autoclose="1" placeholder="Date" data-max-date='today' bs-datepicker dynamic-field="field">
      </div>
      <div class="form-group" dynamic-field="field">
        <input type="text" size="8" class="form-control time"
        ng-model="entity[field.name]"
        show-errors
        data-autoclose="1" placeholder="Time" bs-timepicker dynamic-field="field">
      </div>
    </div>

    <input type="text"
      ng-attr-id='{{ field.name }}'
      class="form-control"
      ng-model="entity[field.name]"
      placeholder="{{ field.placeholder }}"
      ng-pattern="{{ field.pattern }}"
      dynamic-field="field"
      validate-video
      ng-switch-when="video"
      dynamic-field='field'
      class='has-feedback'
      show-errors
    />
    <span class="fa fa-check form-control-feedback valid"></span>
    <span class="fa fa-times form-control-feedback invalid"></span>

    <textarea type="text"
      dynamic-field="field"
      ng-attr-id='{{ field.name }}'
      class="form-control"
      ng-model="entity[field.name]"
      placeholder="{{ field.placeholder }}"
      rows='1'
      show-errors
      ng-switch-when="textarea"
      dynamic-field='field'
      expand>
    </textarea>

    <input type="text"
      ng-attr-id='{{ field.name }}'
      class="form-control"
      ng-model="entity[field.name]"
      placeholder="{{ field.placeholder }}"
      ng-switch-when="text"
      show-errors
      dynamic-field="field">
    </input>

    <select
      ng-model="entity[field.name]"
      ng-attr-id='{{ field.name }}'
      ng-options="item.id as item.name for item in field.type.options"
      ng-switch-when="select"
      dynamic-field='field'
      show-errors
      class="form-control">
      <option value="">-- Nenhum --</option>
    </select>

    <div ng-switch-when="tagging" dynamic-field='field'>
      <tags-input
        ng-model="entity[field.name]"
        dynamic-field="field"
        display-property="tag"
        class='tag-input'
        show-errors
        placeholder="{{ field.placeholder }}">
          <auto-complete source="tags.search($query)"></auto-complete>
        </tags-input>
    </div>
</div>
