<div>
  <input
    class="ng-hide"
    id="input-file-id"
    multiple
    upload
    accept="image/*"
    type="file" />
  <label
    for="input-file-id"
    class="md-button md-raised md-primary">
    Adicionar Arquivos
  </label>

  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex
      layout-wrap
      layout-align="space-around"
      layout-margin="20"
      layout="row">

        <figure
          ng-repeat="file in files track by file._id"
          ng-class="{ 'md-card-image': true, 'gallery-image': true}"
          ng-style="{ 'background-image': 'url('+file.getImage()+')' }"
          >
          <md-progress-circular
            md-mode="indeterminate"
            ng-if="!file.uploaded"
            class="preview-image__loading">
          </md-progress-circular>
        </figure>
    </div>
  </md-content>
</div>
