<!-- slider container -->
<div class="slider"  ng-init="_index = 0">
  <ul class="nav thumb-list">

    <div class="upload btn btn-default btn-block" ng-disabled="upload.working()" ng-controller="UploadCtrl as uploadCtrl">
      <span ng-hide="uploadCtrl.upload.working()">
        <i class="fa fa-upload"></i>
        Adicionar arquivo
      </span>
      <span ng-show="uploadCtrl.upload.working()">
        <i class="fa fa-cog fa-spin" ></i>
        Subindo arquivo {{ upload.done }}/{{ upload.length }}
      </span>
      <input type="file" name="upload" id="upload" ng-disabled="uploadCtrl.upload.working()" multiple upload />
    </div>
    <small ng-show="files.length > 0">Clique na imagem para adicionar na noticia!</small>
    <small ng-show="files.length == 0">Clique no botão para subir uma imagem/arquivo</small>

    <li ng-repeat="file in files">
      <img src="{{ file.thumbnail }}" alt="{{ file.title }}" title="{{ file.title }}" ng-click="insertImageCKEditor(file)"/>
      <button class="btn btn-xs btn-danger btn-delete-thumb" ng-click="removeImage($index)">X</button>
      <button class="btn btn-xs btn-default btn-cover-thumb" ng-click="imageToCover($index)"> Tornar Capa</button>
    </li>
  </ul>

  <!-- extra navigation controls -->
</div>
