<!-- slider container -->
<div class="slider"  ng-init="_index = 0">
  <!-- enumerate all photos -->
  <img class="slide" ng-src="{{ photo.src }}" ng-repeat="photo in photos" ng-show="_index === $index"/>
  <!-- extra navigation controls -->
  <ul class="nav">
    <button class="btn btn-default btn-block upload">
      <i class="fa fa-upload"></i>
      Nova Imagem
    </button>
    <li ng-repeat="photo in photos" ng-class="{'active': ( _index === $index ) }">
      <img src="{{ photo.src }}" alt="{{ photo.desc }}" title="{{ photo.desc }}" ng-click="$parent._index = $index;" />
    </li>
  </ul>
</div>
