<md-card>
  <md-progress-circular
    md-mode="indeterminate"
    ng-show="loading">
  </md-progress-circular>

  <img
    ng-hide="loading"
    ng-src="{{ post.metadata.image }}"
    class="md-media-lg card-media">
  </img>
  <md-card-title
    ng-hide="loading"
    >
    <md-card-title-text>
      <span class="md-headline">
        {{ post.metadata.title }}
      </span>
      <span class=".md-title">
        {{ post.metadata.date | date: 'fullDate' }}
      </span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content
    ng-hide="loading"
    >
    <p>
      {{ post.metadata.description }}
    </p>
  </md-card-content>
  <md-card-actions
    layout="row"
    ng-hide="loading"
    layout-align="end center">
    <md-button>Action 1</md-button>
  </md-card-actions>
</md-card>
