<md-content layout-padding>
  <md-input-container class="md-block">
    <label>Pesquisar</label>
    <input
      required
      md-no-asterisk
      name="description">
  </md-input-container>
</md-content>
<md-content class="md-padding" layout-xs="column" layout="row">
  <div
   flex-xs
   flex-gt-xs="80"
   layout-align="center"
   layout="row">
    <post
      ng-repeat="relatedPost in relatedPosts"
      id="relatedPost.id"
      weight="relatedPost.weight">
    </post>
  </div>
</md-content>
