<div class="form-group" ng-if="!!postCreateCtrl.releatedPosts && postCreateCtrl.releatedPosts.length > 0">
  <h1 class="suggest">
    Noticiais Relacionadas
  </h1>
  <div class="releated-posts releated"
    ng-repeat="releated in postCreateCtrl.releatedPosts"
    ng-click="postCreateCtrl.removeReleatedPost(releated)">
    <post post-url="releated" cover-field="coverField" tags="entity.tags"/>
  </div>
</div>
<section class="form-group"  ng-init="postCreateCtrl.postLimit = 6"
        ng-if="!!postCreateCtrl.suggestedPosts && postCreateCtrl.suggestedPosts.length > 0" >
  <h1 class="suggest">
    Sugeridas
  </h1>
  <div class="releated-posts suggested" ng-repeat="releated in postCreateCtrl.suggestedPosts | limitTo: postCreateCtrl.postLimit" ng-click="postCreateCtrl.addReleatedPost(releated)"
    ng-class="{'selected': postCreateCtrl.isPostReleated(releated)}">
    <h1>selecionada</h1>
    <post post-url="releated" cover-field="coverField" tags="postCreateCtrl.entity.tags"/>
  </div>
  <button class="btn btn-default btn-block" ng-click="postCreateCtrl.postLimit = postCreateCtrl.postLimit + 6">
    Mais...
    <span ng-if="postCreateCtrl.postLimit < suggestedPosts.length">Exibindo {{ postCreateCtrl.postLimit  }} de {{ postCreateCtrl.suggestedPosts.length }}</span>
    <span ng-if="postCreateCtrl.postLimit >= suggestedPosts.length">Exibindo todas as noticias sugeridas</span>
  </button>
</section>
