<div class="form-group">
  <h1 class="suggest">
    Noticiais Relacionadas
  </h1>
  <div class='releated-posts' ng-repeat="releated in releatedPosts" ng-click="removeReleatedPost(releated)">
    <post post-url='releated' tags="entity.tags"/>
  </div>
</div>
<section class="form-group"  ng-init="postLimit = 6">
  <h1 class="suggest">
    Sugeridas
  </h1>
  <ul class='columns'>
    <li class='releated-posts' ng-repeat="releated in suggestedPosts | limitTo: postLimit" ng-click="addReleatedPost(releated)"
      ng-class="{'selected': isPostReleated(releated)}">
      <post post-url='releated' tags="entity.tags"/>
    </li>
  </ul>
  <button class="btn btn-default btn-block" ng-click="postLimit = postLimit + 6">
    Mais...
  </button>
</section>
