<div class="view">  
  <img src="http://farm8.staticflickr.com/7459/16263367740_ef309ea2c6_n.jpg">
  <div class="mask">  
    <h2>Clique para adicionar</h2>  
  </div>  
</div> 


<div class="form-group">
  <label class='control-label'>
    Posts Relacionados
  </label>
  <div class='releated-posts' ng-repeat="releated in releatedPosts">
    <post post-url='releated' tags="entity.tags"/>
  </div>
</div>
<div class="form-group">
  <label class='control-label'>
    Posts Sugeridos
  </label>
  <div class='releated-posts' ng-repeat="releated in suggestedPosts">
    <post post-url='releated' tags="entity.tags"/>
  </div>
</div>
