<form novalidate ng-submit="submit()">
  <div class="form-group">
    <div year-drop filter='filter' change='changeDate()' offset="-4" range="0"></div>
  </div>
  <div class="form-group">
    <select ng-model='filter.month' class='form-control month' ng-change='changeDate()'>

      <option value='*'>-- Todos os meses --</option>
      <option value='0'>Janeiro</option>
      <option value='1'>Fevereiro</option>
      <option value='2'>Março</option>
      <option value='3'>Abril</option>
      <option value='4'>Maio</option>
      <option value='5'>Junho</option>
      <option value='6'>Julho</option>
      <option value='7'>Agosto</option>
      <option value='8'>Setembro</option>
      <option value='9'>Outubro</option>
      <option value='10'>Novembro</option>
      <option value='11'>Dezembro</option>
    </select>
  </div>
  <div class="form-group">
    <input ng-model="filter.title" type="text" placeholder="Pesquise por título" class="form-control" />
    <a class='btn btn-danger' ng-show="submited"  ng-click="clearSearch()"> 
      <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
    </a>
  </div>
</form>

