<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Marighella</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" href="favicon.ico">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/create.css">
    <link rel="stylesheet" href="styles/auth.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/search.css">
    <link rel="stylesheet" href="styles/tag-input.css">
    <link rel="stylesheet" href="styles/gallery.css">
    <link rel="stylesheet" href="styles/button-action.css">
    <link rel="stylesheet" href="styles/ckeditor-loko.css">
    <link rel="stylesheet" href="styles/related-posts.css">
    <link rel="stylesheet" href="styles/post.css">
    <link rel="stylesheet" href="styles/tracks.css">
    <link rel="stylesheet" href="styles/zip.css">
    <link rel="stylesheet" href="styles/upload.css">
    <link rel="stylesheet" href="styles/cover.css">
    <link rel="stylesheet" href="styles/has-error.css">

    <!-- endbuild -->
  </head>
  <body ng-app="cmsApp" ng-cloak>
    <!-- Add your site or application content here -->
    <div ng-view="" ng-if="!user.logged">
    </div>

    <main ng-if="!!user.logged">
      <aside>
        <img src="images/logo.png" class="logo" />
        <nav class="actions">
          <a ng-href="#" class="item" ng-if="!user.skelleton">
            <i class="fa fa-cog fa-spin" ></i>
          </a>
          <a ng-href="#!/post/create" class="item" ng-if="!!user.skelleton">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
          <a ng-href="#!/post/search" class="item">
            <i class="fa fa-search" aria-hidden="true"></i>
          </a>
        </nav>
      </aside>
      <div ng-view="">
      </div>
    </main>


    <script src="ckeditor/ckeditor.js"></script>
    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/js-yaml/dist/js-yaml.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/speakingurl/speakingurl.min.js"></script>
    <script src="bower_components/satellizer/dist/satellizer.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/config.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/filters/start-from.js"></script>
        <script src="scripts/filters/leading-zero.js"></script>
        <script src="scripts/controllers/auth.js"></script>
        <script src="scripts/controllers/post/search.js"></script>
        <script src="scripts/controllers/post/create.js"></script>
        <script src="scripts/controllers/util/upload.js"></script>
        <script src="scripts/services/resource.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/services/util/underscore.js"></script>
        <script src="scripts/services/util/date-util.js"></script>
        <script src="scripts/services/util/post-util.js"></script>
        <script src="scripts/services/util/promise-util.js"></script>
        <script src="scripts/services/util/tags-util.js"></script>
        <script src="scripts/services/util/youtube-link.js"></script>
        <script src="scripts/services/util/vimeo-link.js"></script>
        <script src="scripts/directives/expand.js"></script>
        <script src="scripts/directives/ck-editor.js"></script>
        <script src="scripts/directives/show-errors.js"></script>
        <script src="scripts/directives/dynamic-field.js"></script>
        <script src="scripts/directives/upload.js"></script>
        <script src="scripts/directives/year-drop.js"></script>
        <script src="scripts/directives/cover.js"></script>
        <script src="scripts/directives/tracks.js"></script>
        <script src="scripts/directives/zip.js"></script>
        <script src="scripts/directives/validate-video.js"></script>
        <script src="scripts/directives/search-form.js"></script>
        <script src="scripts/directives/post.js"></script>
        <script src="default-skelleton.json"></script>
        <!-- endbuild -->
</body>
</html>
