<form name="postForm" nonvalidate ng-init='load()' class='create'>
  <div class='metadata'>
    <div ng-include="'views/post/include/dynamic-fields.html'">
    </div>

    <div ng-include="'views/post/include/gallery.html'">
    </div>

    <div class='alert-cover' dynamic-field='coverField'>
      <label ng-hide="cover">Não se esqueça de colocar uma imagem como capa!</label>
      <input type='text' ng-model='cover' name='cover' dynamic-field="coverField"/>
    </div>
  </div>
  <aside class='body'>
    <div class='form-group'>
      <textarea id='editor_loko' ck-editor ng-model="body">
      </textarea>
    </div>
    <div ng-include="'views/post/include/button-action.html'">
    </div>
  </aside>
</form>
