<form name="postForm" nonvalidate ng-init='load()' class='create'>

  <div ng-include="'views/post/include/dynamic-inputs.html'"/>
  <div class='form-group'>
    <textarea ck-editor ng-model="body">
    </textarea>
  </div>
  <div ng-include="'views/post/include/gallery.html'"/>

  <div class='alert-cover' ng-show='cover === "" '>
    <label>Não se esqueça de colocar uma imagem como capa!</label>
    <input type='text' ng-model='cover' name='cover' required ng-hide='true'/>
  </div>

  <button ng-click="draft(postForm)" class="btn btn-default btn-block draft"
    ng-disabled="state != 'default'">
    <strong ng-show="state == 'default'">Mandar para o rascunho!</strong>
    <strong ng-show="state == 'saving'">Salvando...
      <i class="fa fa-cog fa-spin" ></i>
    </strong>
  </button>

  <button ng-click="publish(postForm)" class="btn btn-default btn-block draft"
    ng-disabled="state != 'default'">
    <strong ng-show="state == 'default'">Publicar no site!</strong>
    <strong ng-show="state == 'saving'">Publicando...
      <i class="fa fa-cog fa-spin" ></i>
    </strong>
  </button>
</form>
