<div class='search'>
  <a href="#/post/{{ filter.year }}/{{ filter.month }}" class="btn btn-default btn-block">
    <span class="glyphicon glyphicon-play"></span>
    <strong>Nova Notícia</strong>
  </a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Data/hora</th>
        <th>Notícia</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="post in posts | startFrom: (currentPage - 1) * maxSize | limitTo:maxSize">
        <td>
          {{ post.metadata.date | date: 'dd/MM/yyyy HH:mm:ss'  }}
          <span ng-hide='post.metadata'>
            <i class="fa fa-cog fa-spin" ></i>
          </span>
        </td>
        <td>
          {{ post.metadata.title }}
          <span ng-hide='post.metadata'>
            <i class="fa fa-cog fa-spin" ></i>
          </span>
        </td>
        <td>
          <span ng-show='post.metadata'>
            <i class="fa fa-eye" ng-show='post.metadata.published' title='noticia publicada'></i>
            <i class="fa fa-eye-slash" ng-show='!post.metadata.published' title='noticia em rascunho'></i>
          </span>
        </td>
        <td>
          <a href="#/post/{{ filter.year }}/{{ filter.month  }}/{{ post.sha }}/{{ post.url }}" class="btn btn-default">
            <span class='glyphicon glyphicon-pencil'></span> Editar
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <pager
  total-items="posts.length"
  items-per-page="maxSize"
  ng-model="currentPage"
  ng-change="pageChanged()"
  previous-text='<< Anterior'
  next-text='Próxima >>'>
  </pager>
</div>
