<div class="search">
  <div class="form-group">
    <button ng-click="create()"
      class="btn btn-default btn-block create"
      ng-disabled="!ready()">


      <span class="glyphicon glyphicon-play" ng-show="ready()">
      </span>
      <strong ng-show="ready()">
        Nova Notícia
      </strong>

      <span ng-hide="ready()">
        <i class="fa fa-cog fa-spin" ></i>
      </span>
      <strong ng-hide="ready()">
        Carregando informações adicionais, só um momento companheira!
      </strong>
    </button>
  </div>
  <div class="form-inline filters">
    <search-form class="form-group" filter="filter" ></search-form>
    <figure>
      <img src="{{ organization.avatar_url }}" alt="{{ organization.name || organization.login }}">
      <figcaption>{{ organization.name || organization.login }}</figcaption>
    </figure>
  </div>

  <div class="result">
    <table  ng-if="posts.length > 0" class="table table-striped">
      <thead>
        <tr>
          <th>Data/hora publicação</th>
          <th>Título notícia</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="post in posts | startFrom: (currentPage - 1) * maxSize | limitTo:maxSize">
          <td>
            {{ post.date | date: 'dd/MM/yyyy HH:mm:ss'  }}
          </td>
          <td>
            {{ post.title }}
          </td>
          <td>
            <span class="label label-default" ng-show="!post.published" >Rascunho</span>
            <span class="label label-primary" ng-show="post.published" >Publicada</span>
          </td>
          <td>
            <button ng-click="edit(post)"
              class="btn btn-default"
              ng-disabled="!ready">
              <span class="glyphicon glyphicon-pencil"></span> Editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pager
    total-items="posts.length"
    items-per-page="maxSize"
    ng-model="currentPage"
    ng-change="loadElements()"
    previous-text="<< Anterior"
    next-text="Próxima >>">
    </pager>
    <p>{{ posts.length }} registro(s) encontrados companheira(o).</p>
  </div>
  <div ng-if="posts.length === 0" class="result">
    <p>Nenhuma postagem criada, companheira(o).</p>
  </div>
  <alert ng-repeat="alert in alerts" 
    type="{{alert.type}}" 
    close="closeAlert($index)">
    {{alert.msg}}
  </alert>

</div>
