@mixin selected{
  border-width: 4px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.auth {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 20px;
  justify-content: center;
  align-items: center;

  .logo {
    width: 160px;
    margin-bottom: 30px;
  }

  .login {
    max-width: 100px;
  }

  .options {
    display: flex;
    flex-direction: column;

    .orgs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }

    img {
      width: 90px;
      height: 90px;
      border-color: #C10613;
      border-style: solid;
      border-width: 0;
      box-shadow: 1px 2px 5px rgba(34, 25, 25, 0.4);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;

      & + img {
        margin-left: 40px;
      }

      &.selected {
        opacity: 1;
        @include selected();
      }
      &:not(.selected) {
        opacity: 0.4;
      }

      &:hover, &:focus, &:active{
        cursor: pointer;
        opacity: 1;
        @include selected();
      }
    }

    select {
      margin-top: 25px;
    }
  }
}
