@mixin selected{
  border-width: 4px;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.auth {
  text-align: center;
  border-bottom: 0 ;

  main {
    width: 60%;
    margin: auto;

    img {
      width: 90px;
      border-color: #C10613;
      border-style: solid;
      border-width: 0;
      box-shadow: 1px 2px 5px rgba(34, 25, 25, 0.4);
      margin-left: 15px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;

      &.selected {
        opacity: 1;
        @include selected();
      }
      &:not(.selected) {
        opacity: 0.4;
      }

      &:hover, &:focus, &:active{
        cursor: pointer;
        opacity: 1;
        @include selected();
      }
    }

    select {
      margin-top: 25px;
    }
  }
}
