.action{
  .fa {
    display: inline-block;
  }

  span {
    font-size: 13px;
    font-weight: 800;
  }

  & + .action{
    float: right;
  }

  .spin {
    display: none;
  }

  &.block{

    * {
      display: none;
    }

    .spin {
      display: block;
    }
  }
}
