.action{
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 100%;

  .fa {
    display: block;
  }

  span {
    font-size: 13px;
    font-weight: 800;
  }

  & + .action{
    float: right;
  }

  .spin {
    display: none;
  }

  &.block{

    * {
      display: none;
    }

    .spin {
      display: block;
    }
  }
}
