.create {

  .draft, .publish {
    margin-bottom: 10px;
  }

  .draft {
   .action {
     width: 95%;
   }
   .action-caret {
     width: 5%;
   }
  }

  .datepicker {
    button {
      border: 0;
    }
  }

  .alert-cover {
    label {
       color: #a94442;
    }
  }

  input {
    &[name="video"],
    &[name="cover"] {
      margin-bottom: 10px;

      img {
        height: 100%;
        border-style: solid;
        border-width: 2px;
      }
    }
  }
}
