$invalid-red: #a94442;

.create {
  width: 100%;
  display: inline-block;

  .metadata {
    width: 35%;
    float: left;
  }
  .body {
    width: 65%;
    padding-left: 25px;
    float: right;
  }

  .options {
    margin-bottom: 10px;

   .action {
     width: 95%;
   }
   .action-caret {
     width: 5%;
   }
  }

  .datepicker {
    button {
      border: 0;
    }
  }

  .alert-cover {
    label {
       color: $invalid-red;
    }
    input {
      display: none;
    }
  }

  span.valid, span.invalid {
    display: none;
  }
  
  .invalid-format ~ span{
    color: $invalid-red;
    &.valid {
      display: none;
    }
    &.invalid {
      display: block;
    }
  }

  .valid-format ~ span{
    color: green;
    &.valid {
      display: block;
    }
    &.invalid {
      display: none;
    }
  }

  .form-control-feedback {
    top: 10px;
  }

  input {
    &[name="video"],
    &[name="cover"] {
      margin-bottom: 10px;

      img {
        height: 100%;
        border-style: solid;
        border-width: 2px;
      }
    }
  }
  .thumb-list li > button.btn-delete-thumb{
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
