.editor {
  font-family: "Exo 2",Helvetica,Arial,sans-serif;

  h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    letter-spacing: -2px;
    border-bottom: 1px solid #dbdbdb;
  }

}
