.slider {
  margin: 20px auto;
  width: 100%;
  text-align: center;

  .slide {
    margin-bottom: 5px;
    float: none;
    height: 250px;

  }

  .nav {
    width: 100%;
    float: none;

    li {
      opacity: 0.6;
      border: 2px solid #AAAAAA;
      border-radius: 1px;
      cursor: pointer;
      display: inline-block;
      margin: 0 8px;
      margin-top: 5px;
      position: relative;
      width: 80px;

      &.active {
        opacity: 1;
        border: 5px solid #FFFFFF;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .slider {
    height: 250px;
    text-align: none;

    .nav {
      width: 43%;
      float: left;
      margin-right: 10px;
    }

    .slide {
      margin-bottom: 0;
      float: left;
      width: 55%;
    }
  }
}
