.slider {
  margin: 20px auto;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;

  .nav {
    width: 100%;
    display: block;
    float: none;

    li {
      opacity: 1;
      border: 2px solid #AAAAAA;
      border-radius: 1px;
      display: inline-block;
      margin: 0 8px;
      margin-top: 5px;
      position: relative;
      width: 100px;
      transition-duration: .3s;

      &:hover{
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

      &:active{
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }

      img {
        cursor: pointer;
        width: 100%;
      }
    }
  }
}

@media (min-width: 990px) {
  .slider {
    text-align: none;

    .nav {
      width: 100%;
      small { 
        display: block;
      }
    }
  }
}
