.slider {
  margin: 20px auto;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;

  .slide {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    float: none;

    img {
      max-width: 100%;

      &.disable {
        cursor: initial;
      }

      &.enable {
        cursor: pointer;

        &:hover {
          -moz-box-shadow: 0 0 60px #ccc;
          -webkit-box-shadow: 0 0 60px #ccc;
          box-shadow: 0 0 60px #ccc;
        }
      }
    }
  }

  .upload {
    position: relative;
    overflow: hidden;
    margin: 0 0 10px 0;
  }

  .upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .nav {
    width: 100%;
    display: block;
    float: none;

    li {
      opacity: 0.6;
      border: 2px solid #AAAAAA;
      border-radius: 1px;
      display: inline-block;
      margin: 0 8px;
      margin-top: 5px;
      position: relative;
      width: 80px;

      img {
        cursor: pointer;
      }

      &.active {
        opacity: 1;
        border: 5px solid #FFFFFF;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 990px) {
  .slider {
    text-align: none;

    .nav {
      width: 45%;
      float: left;

      small { 
        display: block;
      }
    }

    .slide {
      margin-bottom: 0;
      float: left;
      width: 55%;

      img {
        max-width: 360px;
        display: block;
        float: right;

        &.enable, &.disable {
          max-width: 180px;
        }
      }
    }
  }
}
