.slider {
  margin: 20px auto;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;

  .slide {
    margin-bottom: 5px;
    float: none;
    min-height: 250px;

    img {
      max-width: 360px;
      cursor: pointer;

      &:hover {
        -moz-box-shadow: 0 0 60px #ccc;
        -webkit-box-shadow: 0 0 60px #ccc;
        box-shadow: 0 0 60px #ccc;
      }

    }
  }

  .upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
  }

  .upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .nav {
    width: 100%;
    float: none;

    li {
      opacity: 0.6;
      border: 2px solid #AAAAAA;
      border-radius: 1px;
      cursor: pointer;
      display: inline-block;
      margin: 0 8px;
      margin-top: 5px;
      position: relative;
      width: 80px;

      &.active {
        opacity: 1;
        border: 5px solid #FFFFFF;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .slider {
    height: 250px;
    text-align: none;

    .nav {
      width: 43%;
      float: left;
      margin-right: 10px;
    }

    .slide {
      margin-bottom: 0;
      float: left;
      width: 55%;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
