// bower:scss

// endbower
a {
  color: black;
}

a:hover, a:focus {
  color: #961913;
  text-decoration: none;
}

.btn {
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

* {
  margin: 0;
}

body {
  padding: 0px;
}

main {
  display: flex;
  flex-direction: row;
}

main aside {
  width: 100px;
  height: 100vh;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.83);


  img.logo {
    width: auto;
    height: 90px;
    border-radius: 50%;
  }

  nav {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    width: 100%;
    align-items: center;

    .item {
      height: 70px;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      & + .item {
        border-top: 1px solid rgba(0,0,0,0.1);
      }
    }
  }
}
