// bower:scss

// endbower

a {
  color: black;
}

.dropdown-icon > li {
  display: inline-block;

  img {
    width: 16px;
    height: 16px;
    float: left;
  }

  a {
    float: left;
    clear: none;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  min-height: 85%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 85%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
  background-color: none;
  /* equal to footer height */
}

.container:after {
  content: "";
  display: block;
}

* {
  margin: 0;
}

body > footer, .push {
  height: 155px; /* .push must be the same height as .footer */
}

body, html {
  height: 100%;
}

/* Space out content a bit */
body {
  padding: 0px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.container {
  display: inline;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    display: block;
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header{
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
