.suggest {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  font-size: 1.2em;
}

.releated-posts {
  width: 100%;
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 10px 0;
  padding: 0;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 0.4;

  &.releated{
    opacity: 1;

    -webkit-transition: all .2s  ease-in-out .15s;
    -moz-transition: all .2s  ease-in-out .15s;
    -o-transition: all .2s  ease-in-out .15s;
    -ms-transition: all .2s  ease-in-out .15s;
    transition: all .2s ease-in-out .15s;
  }

  &.suggested{
    opacity: 0.4;
  }

  &:hover{
    opacity: 1;
    cursor: pointer;
  }

  & > h1{
    opacity:0;
    height: 0;
    overflow: hidden;

    margin: 10px 0;
    margin-top: 0px;


    -webkit-transition: opacity .2s  ease-in-out .15s;
    -moz-transition: opacity .2s ease-in-out .15s;
    -o-transition: opacity .2s  ease-in-out .15s;
    -ms-transition: opacity .2s  ease-in-out .15s;
    transition: opacity .2s ease-in-out .15s;
  }

  & > div{
    padding: 0 15px;
  }

  &.selected {
    opacity: 1;

    & > h1{
      opacity: 1;
      height: auto;

      font-size: 12px;
      color: white;
      background-color: #C10613;
      text-align: center;
      padding: 5px 0px;
      text-transform: uppercase;
    }
  }
}
