.releated-posts {
  article {
    figure {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 150px;

      img {
        object-fit: cover;
      }
    }
    time {
  
    }
    h1 {
  
    }
  }

  .tags {
    .tag {
    }
  }
}
