.search {
  table td a{
    float: right;
  }

  ul {
    li{
      a {
        font-size: medium;
        font-weight: bold;
      }
    }
    li.disabled {
        display: none;
    }
  }
}

.result {
  padding-top: 10px;

  .pager {
    margin: 20px 0 0;
  }

  p {
    margin: 10px 0 10px 0;
  }
}

figure {
  margin-bottom: 20px;

  img {
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
  }

  figcaption {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
  }
}

@media screen and (min-width: 350px) {
  
}
