.search {
  table td a{
    float: right;
  }

  .filters {
    figure {
      display: block;
      text-align: center;
      img {
        width: 40px;
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 50%;
      }
      figcaption {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
      }
    }
    .button-group {
      padding: 0;
      margin-left: -15px;
    }
  }

  ul {
    li{
      a {
        font-size: medium;
        font-weight: bold;
      }
    }
    li.disabled {
        display: none;
    }
  }
}

.result {
  padding-top: 10px;

  .pager {
    margin: 20px 0 0;
  }

  p {
    margin: 10px 0 10px 0;
  }
}

@media screen and (min-width: 350px) {
  
}
