.tracks {

  ul {
    padding: 0 0 0 20px;
  }

  .track{
    display: table;
    width: 100%;
    margin: 10px 0;
    color: black;

    &.new {
      color: #3366CC;
    }



    .mp3, .ogg{
      display: none;
    }
    .title, .remove, .order {
      display: table-cell;
    }
    .order:hover{
      cursor: move;
    }
    .remove{
      text-align: end;
      color: #C10613;

      &:hover{
        cursor: pointer;
      }
    }
  }
  .upload {
    position: relative;
    overflow: hidden;
    margin: 0 0 10px 0;
  }
}
