.tracks {
  .track{
    .mp3, .ogg{
      display: none;
    }
    .title{
      display: block;
      margin: 10px 0;
    }
  }
  .upload {
    position: relative;
    overflow: hidden;
    margin: 0 0 10px 0;
  }
}
