.upload {
  position: relative;
  overflow: hidden;
  margin: 0 0 10px 0;
}

.upload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.gallery-image {
  width: 200px;
  height: 300px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.preview-image {
  max-width: 300px;
  filter: blur(2px);
}

.preview-image__loading {
  position: relative;
}
