<div class="page-header auth" >
  <p>
    <button ng-click="authCtrl.authenticate()" class="btn btn-default login" ng-hide="authCtrl.user.logged === true">
      <img src="images/github.png" /> Entrar
    </button>
  </p>
  <main ng-show="authCtrl.user.logged === true">
    <img class="img-circle organization"
      ng-repeat="organization in authCtrl.user.organizations track by organization.id"
      ng-click="authCtrl.getRepositories(organization)"
      alt="{{ organization.name }}"
      title="{{ organization.name }}"
      ng-class="{'selected': authCtrl.isOrgSelected(organization)}"
      ng-src="{{ organization.avatar_url }}"/>
      {{ orgSelected  }}
    <span class="wait organization" ng-hide="authCtrl.user.organizations[0].ready === true">
      <i class="glyphicon glyphicon-refresh spin" ></i>
    </span>
    <select class="form-control repository"
      ng-change="authCtrl.finish(authCtrl.repository)"
      ng-model="authCtrl.repository"
      ng-show="authCtrl.user.repositories.length > 0">
      <option value="">Em quais desses?</option>
      <option ng-repeat="repository in authCtrl.user.repositories" value="{{ repository }}">{{ repository.name }}</option>
    </select>
  </main>
</div>
